entry: tosone # crawler entry
useragent: "Mozilla/5.0 (Macintosh; Intel Mac OS X 11_0_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.67 Safari/537.36"
timezone: "Asia/Shanghai"
token: github_token
log_level: debug

crawler:
  user_followers: true
  user_following: true
  user_starred_repos: true
  users_repos: true
  orgs: true
  orgs_member: true
  orgs_repos: true
  events: true

repositories:
  refresh_interval_minutes: 10
  trend_languages:
    - "JavaScript"
    - "Java"
    - "Python"
    - "PHP"
    - "C++"
    - "C#"
    - "TypeScript"
    - "Shell"
    - "C"
    - "Ruby"
    - "Rust"
    - "Go"
    - "Kotlin"
    - "HCL"
    - "PowerShell"
    - "CMake"
    - "Groovy"
    - "PLpgSQL"
    - "TSQL"
    - "Dart"
    - "Swift"
    - "HTML"
    - "CSS"
    - "Elixir"
    - "Haskell"
    - "Solidity"
    - "Assembly"
    - "R"
    - "Scala"
    - "Julia"
    - "Lua"
    - "Clojure"
    - "Erlang"
    - "Common Lisp"
    - "Emacs Lisp"
    - "OCaml"
    - "MATLAB"
    - "Objective-C"
    - "Perl"
    - "Fortran"

database:
  path: "/tmp/spider.sqlite"
