name: tosone # crawler entry
useragent: "Mozilla/5.0 (Macintosh; Intel Mac OS X 11_0_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.67 Safari/537.36"
timezone: "Asia/Shanghai"
token: github_token

database:
  path: ./data/spider.db
  type: sqlite3
