entry: tosone # crawler entry
useragent: "Mozilla/5.0 (Macintosh; Intel Mac OS X 11_0_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.67 Safari/537.36"
timezone: "Asia/Shanghai"
token:
  - github_token
sleep: 100

crawler:
  followers: true
  followings: true
  orgs: true
  orgs_member: true
  users_repos: true
  users_repos_branches: false
  users_repos_branches_commits: false
  orgs_repos: true
  emojis: true
  gitignore_list: true
  license_list: true

database:
  type: mongodb
  mongodb:
    dsn: ""
