entry: tosone # crawler entry
useragent: "Mozilla/5.0 (Macintosh; Intel Mac OS X 11_0_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.67 Safari/537.36"
timezone: "Asia/Shanghai"
token: github_token
sleep: 100

database:
  type: sqlite3
  sqlite3:
    path: ./data/spider.db

  leveldb:
    path: ./data/leveldb

  mongodb:
    dsn: ""

  mysql:
    host: "127.0.0.1"
    user: "root"
    password: "8541539655"
    db: "test"
    port: 3306

  postgresql:
    dsn: ""
